<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.cwchang.alfred-mw-finder</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Chih-Wei (Bert) Chang</string>
	<key>description</key>
	<string>MW dictionary finder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MW Finder</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>cwchang.me</string>
</dict>
</plist>
